<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://kit.fontawesome.com/c02cc31e8a.js" crossorigin="anonymous"></script>

    <title>Todo List</title>
</head>

<body>

    <header>
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa-regular fa-rectangle-list"></i>Daily</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/work"><i class="fa-solid fa-briefcase"></i>Work</a>
        </li>
    </header>

    <main>

        <div class="box" id="heading">
            <h1>
                <%= date %>
            </h1>
        </div>